openapi: 3.2.0
info:
  title: Archer Daniels Midland Commodity Data Commodities API
  description: The Archer Daniels Midland (ADM) Commodity Data API provides access to agricultural commodity pricing, supply chain logistics, and product information for ADM partner integrations. ADM is a Fortune 100 global leader in agricultural processing and food ingredient manufacturing.
  version: '1.0'
  x-generated-from: documentation
  contact:
    name: ADM
    url: https://www.adm.com/en-us/
servers:
- url: https://api.adm.com/v1
  description: ADM API Production
security:
- apiKey: []
tags:
- name: Commodities
  description: Agricultural commodity pricing and market data
paths:
  /commodities:
    get:
      operationId: listCommodities
      summary: Archer Daniels Midland List Commodities
      description: Retrieve a list of agricultural commodities with current pricing, market trends, and availability information.
      tags:
      - Commodities
      parameters:
      - name: type
        in: query
        description: Filter by commodity type (corn, soybeans, wheat, canola, etc.)
        schema:
          type: string
          enum:
          - corn
          - soybeans
          - wheat
          - canola
          - sorghum
          - barley
        example: corn
      - name: region
        in: query
        description: Filter by sourcing region
        schema:
          type: string
        example: US-MIDWEST
      responses:
        '200':
          description: List of commodities with pricing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityList'
              examples:
                ListCommodities200Example:
                  summary: Default listCommodities 200 response
                  x-microcks-default: true
                  value:
                    commodities:
                    - id: CORN-US
                      name: Yellow Corn
                      type: corn
                      currentPrice: 4.85
                      currency: USD
                      unit: bushel
                      priceDate: '2026-04-19'
                    count: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - apiKey: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /commodities/{commodityId}:
    get:
      operationId: getCommodity
      summary: Archer Daniels Midland Get Commodity
      description: Retrieve detailed data for a specific agricultural commodity including price history.
      tags:
      - Commodities
      parameters:
      - name: commodityId
        in: path
        required: true
        description: Commodity identifier
        schema:
          type: string
        example: CORN-US
      responses:
        '200':
          description: Commodity details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityDetail'
              examples:
                GetCommodity200Example:
                  summary: Default getCommodity 200 response
                  x-microcks-default: true
                  value:
                    id: CORN-US
                    name: Yellow Corn
                    type: corn
                    currentPrice: 4.85
                    currency: USD
                    unit: bushel
                    priceDate: '2026-04-19'
                    weekHigh: 5.1
                    weekLow: 4.72
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Commodity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - apiKey: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: Unauthorized
        code:
          type: integer
          description: Error code
          example: 401
    CommodityList:
      type: object
      properties:
        commodities:
          type: array
          items:
            $ref: '#/components/schemas/Commodity'
        count:
          type: integer
          description: Total commodity count
          example: 15
    Commodity:
      type: object
      properties:
        id:
          type: string
          description: Unique commodity identifier
          example: CORN-US
        name:
          type: string
          description: Commodity display name
          example: Yellow Corn
        type:
          type: string
          description: Commodity type
          enum:
          - corn
          - soybeans
          - wheat
          - canola
          - sorghum
          - barley
          example: corn
        currentPrice:
          type: number
          description: Current market price
          example: 4.85
        currency:
          type: string
          description: Price currency
          example: USD
        unit:
          type: string
          description: Price unit of measure
          example: bushel
        priceDate:
          type: string
          format: date
          description: Date of price quote
          example: '2026-04-19'
    CommodityDetail:
      allOf:
      - $ref: '#/components/schemas/Commodity'
      - type: object
        properties:
          weekHigh:
            type: number
            description: 52-week high price
            example: 5.1
          weekLow:
            type: number
            description: 52-week low price
            example: 4.72
          volume:
            type: integer
            description: Daily trading volume in bushels
            example: 125000000
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-ADM-API-Key
      description: ADM API key for partner integrations
